.container {
  height: calc(100% - 60px);
  width: calc(100% - 250px);
  max-width: 100%;
  margin-left: 250px;
  //   overflow: auto;
  position: fixed !important;
  top: 60px;
  border-left: 1px solid #eee;
  background-color: #f2faf9d5;
}

.vertical-nav {
  height: calc(100% - 60px);
  width: 250px;
  border-right: 1px solid #eee;
  position: fixed !important;
  top: 60px;
}

.tool {
  margin-left: calc(100% - 60px);
  margin-top: 20px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
