<app-navbar></app-navbar>
<div class="overlay" *ngIf="loading$ | async">
  <mat-spinner style=" position:fixed; top: 50%; left: 50%"></mat-spinner>
</div>
<div class="vertical-nav">
  <app-sensor-mapping-search></app-sensor-mapping-search>
</div>
<div class="container">
  <div class="tool">
    <button class="btn btn-outline-secondary" style="border-radius: 50%; padding-top: 10px" (click)="refresh()"><i class=" fas fa-sync-alt fa-lg"></i></button>
  </div>
  <app-sensor-mapping-table></app-sensor-mapping-table>
</div>