<input class="form-control" [(ngModel)]="search" placeholder="Company Name / Store Name" type="text" />
<nav class="nav-search">
  <nav *ngFor="let company of companies">
    <ul class="nav flex-column" *ngIf="(company.stores| filter: search).length > 0">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ company.name }}
        <span class="badge badge-primary badge-pill">{{ (company.stores| filter: search).length }}</span>
      </li>
      <li class="nav-item" *ngFor="let store of company.stores | filter: search">
        <a class="nav-link" [ngClass]="{active: storeId == store.id}" href="#" onclick="return false;" (click)="changeStore(store)">{{
          store.name }}
        </a>
      </li>
    </ul>
  </nav>
</nav>