.nav-search {
  overflow: auto;
  height: calc(100% - 60px);
  width: 100%;
  border-bottom: 1px solid #eee;
  .nav-item {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    &:hover {
      background-color: #f7f7f7;
    }
    .nav-link {
      color: #000;
    }
  }

  .active {
    background: #f7f7f7;
    border-right: 6px solid gray;
  }
}

input {
  font-size: 14px;
}
