<div *ngIf="( store$ | async )" class="aoi-table">
  <h5>{{ ( store$ | async ).company }} / {{ ( store$ | async ).name }}</h5>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th class="name">POI Name</th>
        <th class="sensorCode">Sensor Code</th>
        <th class="deviceType">Device Type</th>
        <th class="sensorType">Sensor Type</th>
        <th class="inputType">Input Type</th>
        <th class="mac">Mac ID</th>
        <th class="channelName">Channel Name</th>
        <th class="channelInput">Channel Input</th>
        <th class="description">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let record of records | paginate: { itemsPerPage: 15, currentPage: page }" (click)="showModel(modal, record.vid)">
        <td class="name">{{ record.name }}</td>
        <td class="sensorCode">{{ record.sensorCode }}</td>
        <td class="deviceType">{{ record.deviceType }}</td>
        <td class="sensorType">{{ record.sensorType }}</td>
        <td class="inputType">{{ record.inputType }}</td>
        <td class="mac">{{ record.mac }}</td>
        <td class="channelName">{{ record.channelName }}</td>
        <td class="channelInput">{{ record.channelInput }}</td>
        <td class="description">{{ record.description }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9" class="text-right">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="poi">

    <div class="form-group">
      <label for="name">POI Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="poi.name">
    </div>
    <div class="form-group">
      <label for="sensorCode">Sensor Type</label>
      <input type="text" class="form-control" id="sensorCode" [(ngModel)]="poi.poi">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit(poi)">Submit</button>

  </div>
  <div class="modal-footer">
  </div>
</ng-template>