.aoi-table {
  overflow-x: auto;
  font-size: 14px;
  height: calc(100% - 100px);
  padding: 15px;
  h5 {
    margin-bottom: 0.75rem;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    th {
      text-transform: uppercase;
    }
    th,
    td {
      min-width: 100px;
    }
    .sensorType {
      text-transform: uppercase;
    }
  }
}
