/* You can add global styles to this file, and also import other style files */
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
